/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@100;400;700;900&family=Space+Mono:wght@400;700&family=Young+Serif&family=Yuji+Hentaigana+Akari&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body */
body{
    font-family: 'Yuji Hentaigana Akari', cursive;
    /* background-image: url(/img/elephant-8253639_1920.jpg);
    background-size: cover; */
    background-color: #fbfbfb;

}
/* body p{
    font-size: 14px;
} */
:root{
    --clr-txt-box: rgba(128, 128, 128, 0.5);
    --clr-wht: rgb(251, 251, 251);
    --clr-txt: rgb(0, 0, 0);
    --clr-hover: rgba(0, 0, 0, 0.562);
}

/* header */
header{
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(251, 251, 251);
    top: 0;
    left: 0;
    z-index: 1;
}

.logo img{
    height: 5rem;
}

nav .nav_list{
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav a:hover{
    color: crimson;
    transition: 0.3s;
}
nav a:not(:hover){
    color: inherit;
    transition: 0.3s;
}

nav a{
    text-decoration: none;
    color: inherit;
    transform: scale(1);
    font-weight: 700;
}
.redes i{
    padding: 1rem;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    transform: scale(1);
}

.redes i:hover{
    transition: 0.2s;
    transform: scale(1.2);
    color: crimson;
}
.redes i:not(:hover){
    transform: scale(1);
    transition: 0.2s;
    color: rgb(0, 0, 0);
}
.menu_icono{
    display: none;
}
/* inicio */
.titulo{
    font-size: 1rem;
    color: crimson;
}

#inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 5rem);
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/panda-2987596_1920.jpg);
    background-size: cover;
    color: #fbfbfb;
}

#inicio article p{
    padding: 30px;
}

#inicio article h6{
    padding-bottom: 25px;
    letter-spacing: 5px;
    font-weight: 400;
}

/* sobre mi */
#sobre_mi{
    height: calc(100vh + 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_foto{
    width: 30%;
}

aside{
    width: 70%;
    padding: 30px;
    background-color: var(--clr-txt-box);
    border-radius: 30px;
    margin-right: 65px;
}

aside h3{
    padding: 10px 0;
    text-decoration: underline var(--clr-wht) 3px;
}

aside h2{
    padding: 0 0 10px 0;
}
aside p{
    padding: 10px 0;
}
aside a{
    text-decoration: none;
    color: inherit;
}
.foto{
    display: block;
    margin: auto;
    height: 60vh;
    background-color: var(--clr-txt-box);
    padding: 5px;
    border-radius: 5%;
}

/* portafolio */
#portafolio{
    height: 100vh;
}
.subtitulo{
    font-size: 2rem;
    text-align: center;
    letter-spacing: .5em;
    padding: 35px;
    margin-bottom: 50px;
}
.container_card{
    width: 200px;
}

.container_portafolio{
    width: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat( 3, 30%);
    justify-items: center;
    object-fit: cover;
}
.card{
    width: 280px;
    text-align: center;
    transform: scale(1);
}
.card:hover{
    transition: 0.2s;
    transform: scale(1.2);
}
.card:not(:hover){
    transform: scale(1);
    transition: 0.2s;
}
.card h5{
    padding: 10px;
}

.card_img img{
    width: 100%;
    object-fit:cover;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

/* footer */
footer{
    width: 100%;
    height: 70px;
    background-color: var(--clr-wht);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:360px) and (max-width:600px) {
    /* header */
    .redes{
        display: none;
    }
    .redes_open{
        position: absolute;
        margin: 475px 0 0 288px;
        background-color: blue;
        width: auto;
        z-index: 2;
    }
    .redes i{
        padding: 0 0 0 10px ;
        margin: 0 0 0 10;
    }
    nav .nav_list{
        display: none;
    }
    nav .nav_list_open{
        position: absolute;
        background-color: #fbfbfb;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        padding: 50px 20px 0 0;
        height: 100vh;
        width: 150px;
        right: 0;
    }
    /* menu hamburguesa (falta animarlo con js) */
    .menu_icono{
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 1;
    }
    .menu_icono_open{
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 50px;
        z-index: 1;
    }
    .line{
        width: 25px;
        height: 2px;
        border: 1px solid crimson;
        margin-right: 25px;
    }
    /* inicio */
    #inicio{
        width: auto;
        background-size:cover;
        background-position: center;
    }
    /* sobre mi */
    #sobre_mi{
        height: 100%;
        flex-direction: column;
        margin: 50px 0 50px 0;
    }
    .container_foto{
        width: auto;
    }
    .foto{
        height: 50vh;
    }
    aside{
        width: 80%;
        margin: 30px 0 0 0;
        text-align: justify;
    }
    aside h3,h2,h5{
        text-align: center;
    }
    .btn{
        width: 100%;
    }
    /* portafolio */
    #portafolio{
        height: auto;
        width: 100%;
    }
    .container_portafolio{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 55px;
    }
    .card{
        margin: 0 auto;
    }
    /* footer */
    footer{
        margin-top: 50px;
        width: 100%;
        height: auto;
        text-align: center;
    }
}